/* @media screen 
  and (min-device-width: 1280px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
} */


/* roboto-regular - latin_cyrillic */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/roboto-v27-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v27-latin_cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* roboto-500 - latin_cyrillic */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('../fonts/roboto-v27-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v27-latin_cyrillic-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* roboto-700 - latin_cyrillic */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/roboto-v27-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v27-latin_cyrillic-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    font-family: 'Roboto';
}

body {
    margin: 0;
}

footer {
    height: 151px;
    background: #34547A;
    font-style: 'Roboto';
}

div {
    display: flex;
    flex-flow: row wrap;
}

.kek img {
    height: 480px;
}

.nano div {
    background-color: green;
}

.p1 {
    display: block;
    margin-left: 406px;
    margin-top: 50px;
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300px;
}

.p2 {
    display: block;
    padding-left: 50px;
    padding-top: 89px;
    font-weight: 300px;
}

.but1 {
    background: #34547A;
    position: absolute;
    width: 225px;
    height: 65px;
}


/* .but2 {
    position: absolute;
    width: 143px;
    height: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
} */

.but2 {
    width: 143px;
    height: 15px;
    color: #fff;
    font-family: 'Roboto';
    margin-left: 41px;
    margin-top: 25px;
}