/* @media screen 
  and (min-device-width: 1280px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
} */


/* roboto-regular - latin_cyrillic */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/roboto-v27-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v27-latin_cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* roboto-500 - latin_cyrillic */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('../fonts/roboto-v27-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v27-latin_cyrillic-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* roboto-700 - latin_cyrillic */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/roboto-v27-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v27-latin_cyrillic-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    font-family: 'Roboto';
}

body {
    margin: 0;
}

div {
    display: flex;
    flex-flow: row wrap;
}

.projects img {
    height: 480px;
}

.nano div {
    background-color: green;
}

.but1 {
    background: #34547A;
    position: absolute;
    width: 225px;
    height: 65px;
}

.but2 {
    width: 143px;
    height: 15px;
    color: #fff;
    font-family: 'Roboto';
    margin-left: 41px;
    margin-top: 25px;
}


/* ======footer===========================================================================================*/

.footer {
    height: 151px;
    background: #34547A;
    font-style: 'Roboto';
}

.footer__name {
    position: absolute;
    color: white;
    font-family: 'Roboto';
    margin-left: 406px;
}

.first--message {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    width: 130px;
    height: 19px;
    margin-top: 50px;
}

.second--message {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    width: 193px;
    height: 12px;
    margin-top: 89px;
}

.footer__img {
    position: absolute;
    margin-top: 64.59px;
}

.elem--one {
    margin-left: 1356px;
}

.elem--two {
    margin-left: 1421.62px;
}

.elem--three {
    margin-left: 1487.25px;
}