/* @media screen 
  and (min-device-width: 1280px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
} */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/roboto-v27-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v27-latin_cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('../fonts/roboto-v27-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v27-latin_cyrillic-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/roboto-v27-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v27-latin_cyrillic-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    font-family: Roboto;
}

body {
    margin: 0;
}


/* =====first-screen====================================================================================== */

.first-screen {
    position: absolute;
    width: 1905px;
    height: 700px;
    left: 0px;
    top: -7px;
    background: #EEEFF1;
}

.first-screen__logo {
    position: absolute;
    left: 407px;
    top: 71px;
}

.first-screen__menu {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    justify-content: space-between;
    position: absolute;
    width: 611px;
    height: 16px;
    left: 896px;
    top: 75px;
    /* style */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.1em;
}

.first-screen__menu :first-child {
    color: #34547A;
    font-weight: 500;
}

.first-screen__frame {
    position: absolute;
    width: 357px;
    height: 233.7px;
    margin-top: 278px;
    margin-left: 487px;
}

.first-screen__button {
    position: absolute;
    background: #34547A;
    width: 225px;
    height: 65px;
    top: 489px;
    left: 975px;
}

.button-text__text {
    position: absolute;
    width: 143px;
    height: 15px;
    left: 41px;
    top: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.first-screen__main {
    position: absolute;
    width: 541px;
    height: 45px;
    left: 974px;
    top: 214px;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
}

.first-screen__text {
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26.25px;
    color: #727272;
    position: absolute;
    width: 540px;
    height: 65px;
    left: 975px;
    top: 343px;
}


/* ======projects=========================================================================================*/


/* ======footer===========================================================================================*/

.footer {
    margin-top: 4744px;
    height: 151px;
    background: #34547A;
    font-style: Roboto;
}

.footer__name {
    position: absolute;
    color: white;
    margin-left: 406px;
}

.first--message {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    width: 130px;
    height: 19px;
    margin-top: 50px;
}

.second--message {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    width: 193px;
    height: 12px;
    margin-top: 86px;
}

.footer__img {
    position: absolute;
    margin-top: 64px;
    width: 43.75px;
    height: 24px;
}

.elem--one {
    margin-left: 1356px;
}

.elem--two {
    margin-left: 1421.62px;
}

.elem--three {
    margin-left: 1487.25px;
}