/* Desktop */
@media screen 
  and (min-device-width: 1280px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* iPhone X */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1279px) 
  and (-webkit-min-device-pixel-ratio: 3) { 


    
}

